h1 {
  text-align: center;
}

button {
  width: 5em;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}